{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="sec-heading center">
                        <h2>Résultat de votre recherche</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for p  in prestataires %}
                    {% if p.nom is not null %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a class="single-moderns-category ">
                                <figure>
                                    <figcaption class="overlay-bg">
                                        <div class="cat-box">
                                            <div class="cat-info">
                                                <h4 class="cat-name">{{ p.nom }}</h4>
                                                <span class="badge badge-pill theme-bg">{{ p.localite }}</span>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}