{% extends 'base.html.twig' %}

{% block body %}

    <div class="image-cover hero-banner" style="background:url(https://picsum.photos/1920/1000) no-repeat;" data-overlay="6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="loving-modern-login">
                        <h4><i class="fas fa-user-check"></i> Merci d'avoir mis à jour votre profil utilisateur</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}